:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --font-size: 18px;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: rgb(239, 239, 239);
  margin: 0;
}
.Navigation {
  height: 9em;
  display: flex;
  align-items: center;
  background-color: white;
}
.Navigation--logo {
  margin-left: 1.5em;
}
.Hamburger-container {
  height: 27px;
  width: 1.7em;
  margin-left: auto;
  margin-right: 1.5em;
  position: relative;
  cursor: pointer;
}
.Hamburger, .Hamburger::before, .Hamburger::after {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--grayish-violet);
}
.Hamburger::before {
  content: '';
  top: -9px;
}
.Hamburger {
  top: 50%;
  transform: translateY(-50%);
}
.Hamburger::after {
  content: '';
  bottom: -9px;
}
.Menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 3em);
  background-color: var(--dark-violet);
  border-radius: 1em;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
}
.Menu--line {
  width: 90%;
  height: 1px;
  background-color: var(--grayish-violet);
}
.Menu--button {
  width: 90%;
  height: 3em;
  background-color: var(--cyan);
  font-size: 1.2em;
  color: white;
  border: none;
  border-radius: 1em;
  font-weight: 700;
  margin-bottom: 2.5em;
  cursor: pointer;
}
.Main--background {
  width: 130%;
  margin-left: 1em;
}
.Main--header {
  text-align: center;
  font-size: 2.5em;
  margin-inline: .5em;
  color: var(--dark-violet);
}
.Main--description {
  color: var(--gray);
  text-align: center;
}
.Main--subdescription {
  color: var(--gray);
  text-align: center;
}
.Main--get-started {
  border: none;
  display: block;
  background-color: var(--cyan);
  border: 1em;
  width: 10em;
  height: 3em;
  border-radius: 2em;
  margin-inline: auto;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.Main--main-informations {
  background-color: white;
  overflow-x: hidden;
}
.Form {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-violet);
  margin-inline: auto;
  margin-top: 5em;
  padding: 1.5em;
  gap: 1em;
  border-radius: 1em;
  background-image: url('./images/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 80% 75%;
}
.Form--input::placeholder {
  color: var(--red);
}
.Form--submit {
  box-sizing: border-box;
  height: 2.7em;
  background-color: var(--cyan);
  border: none;
  border-radius: .3em;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
}
.Form--error-text {
  color: var(--red);
  font-style: italic;
  margin-top: -1em;
}
.Main--subheader {
  text-align: center;
  color: var(--dark-violet);
  margin-top: 3em;
  font-size: 1.7em;
}
.Note {
  width: 95%;
  background-color: white;
  text-align: center;
  margin-inline: auto;
  margin-top: 6em;
  position: relative;
  padding-block: 3em;
  z-index: 3;
}
.Note--image-container {
  position: absolute;
  top: -6em;
  left: 50%;
  transform: translateX(-50%);
  width: 5em;
  height: 5em;
  background-color: var(--dark-violet);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 75%);
}
.Note--title {
  font-size: 1.2em;
}
.Note--content {
  color: var(--gray);
}
.Summary {
  margin-top: 6em;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: var(--dark-violet);
  padding-block: 5em;
  background-image: url('./images/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 100% 100%;
  margin-bottom: 0;
}
.Footer {
  text-align: center;
  background-color: var(--very-dark-violet);
  color: white;
  margin: 0;
  border: 1px solid var(--very-dark-violet);
}
.Footer--title {
  font-size: 2em;
}
.Footer--socials {
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-block: 3em;
}
.Footer-Details--title {
  margin-top: 3em;
}
.Footer--link {
  color: var(--gray);
}
.Main--notes {
  position: relative;
  padding: 0;
}
.Main--notes-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateXs(-50%);
  z-index: 1;
  margin: auto;
  height: 100%;
  width: 7px;
  background-color: var(--cyan);
}
.Main--text-content {
  padding-bottom: 2em;
}
.DesktopMenu {
  display: flex;
  align-items: center;
  margin-left: 3.5em;
  gap: 2em;
  color: var(--gray);
  font-weight: 700;
  width: 70%;
}
.DesktopMenu--information {
  cursor: pointer;
}
.login-signup {
  display: flex;
  gap: 2em;
  position: absolute;
  right: 15%;
  transform: translateX(45%);
}
.login {
  margin-left: auto;
}
.desktop-menu-button {
  width: 7em;
  display: block;
  margin-block: auto;
  height: 2.2em;
}
.DesktopMenu--information:hover {
  color: black;
}
.Main--get-started:hover, .Menu--button:hover, .Link--copy:hover {
  filter: brightness(115%);
  opacity: .9;
}
.Footer--link:hover {
  cursor: pointer;  
  color: var(--cyan);
}
.Footer--social:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(59%) sepia(100%) saturate(343%) hue-rotate(131deg) brightness(97%) contrast(86%);
}
.Form--submit:hover {
  filter: brightness(130%);
  opacity: .9;
}
.Summary > div {
  filter: brightness(130%);
  opacity: .9;
}
.Link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  margin-inline: auto;
  margin-top: 1.5em;
  padding-inline: 2em;
  word-wrap: break-word;
  padding: 1em;

}
.Link--link-content {
  word-wrap: break-word;
  margin-right: 1em;
}
.Link--line {
  width: calc(100% + 2em);
  height: 1px;
  background-color: var(--gray);
  margin-left: -1em;
}
.Link--shortened-link {
  color: var(--cyan)
}
.Link--copy {
  cursor: pointer;
  height: 3em;
  width: 100%;
  border: none;
  font-weight: 700;
  color: white;
  border-radius: .4em;
}

@media (min-width: 780px) {
  .Navigation--logo {
    margin-left: 10%;
  }
  .Main--main-informations {  
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 8em;
  }
  .Main--header {
    font-size: clamp(3em, 5vw, 4em);
  }
  .Main--header, .Main--description {
    text-align: left;
  }
  .Main--subheader-container {
    position: relative;
    top: -10em;
  }
  .Main--header {
    margin-left: 0;
    margin-bottom: 0;
  }
  .Main--links {
    position: relative;
    top: -8em;
  }
  .Main--text-content {
    position: relative;
    left: 10%;
    max-width: 40%;
  }
  .Main--text-content > button{
    position: absolute;
    left: 0;
  }
  .Main--subdescription {
    position: relative;
    top: -11em;
  }
  .Main--background {
    height: min(25em, 35vw);
    width: auto;
    position: relative;
    left: 5em;
  }
  .Form {
    display: grid;
    grid-template-columns: 1fr auto;
    background-image: url('./images/bg-shorten-desktop.svg');
    background-size: 100% 100%;
    padding: 2em 2.4em;
    border-radius: .7em;
    position: relative;
    top: -8.5em;
  }
  .Form--input {
    width: 95%;
  }
  .Form--submit {
    box-sizing: content-box;
    width: 9.3em;
  }
  .Main--subheader {
    margin-top: 4em;
    font-size: 2.5em;
  }
  .Main--subdescription {
    width: 25em;
    margin-inline: auto;
  }
  .Main--notes {
    display: flex;
    width: 85%;
    margin-inline: auto;
    position: relative;
    top: -9em;
  }
  
  .Main--notes div:nth-child(1) {
    bottom: 3em;
  }
  .Main--notes div:nth-child(3) {
    top: 3em;
  }
  .Note {
    box-sizing: border-box;
    width: 30%;
    padding-inline: 2em;
    text-align: left;
  }
  .Main--notes-line {
    width: 80%;
    height: 7px;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);   
  }
  .Note--image-container {
    width: 4em;
    height: 4em;
    top: -5em;
    left: 4em;
  }
  .Note--logo {
    width: 2em;
    height: auto;
  }
  .Summary {
    background-image: url('./images/bg-boost-desktop.svg');
    height: 3em;
  }
  .Summary--title {
    font-size: 2em;
    margin-top: -1em;
    margin-bottom: .3em
  }
  .Footer {
    display: flex;
    padding-bottom: 2em;
    justify-content:space-evenly
    /* gap: 15%; */
  }
  .Footer--title {
    margin-left: -3em;
  }
  .Footer--informations {
    display: flex;
    gap: 12%;
  }
  /* .Footer--socials {
    margin-left: 12%;
  } */
  .Footer--social {
    height: 1.5em;
    width: auto;
  }
  .FooterDetails {
    text-align: left;
  }
  .Link {
    flex-direction: row;
    align-items: center;
    padding-block: .4em;
  }
  .Link--line {
    display: none;
  }
  .Link--copy {
    width: 7em;
    margin-left: auto;
  }
  @media (max-width: 1050px) {
    .Footer {
      flex-direction: column;
    }
    .Footer--socials {
      margin-left: 2%;
    }
    .Footer--informations {
      margin-inline: auto;
      justify-content:space-evenly;
      max-width: 100%;
      padding-inline: 10%;
    }
    .Footer--title {
      margin-left: 0;
    }
  }
}